@import "~@ng-select/ng-select/themes/default.theme.css";

@import '../dashboard/dashboard';

@include nb-install-component() {
  .contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: nb-theme(color-fg);
    padding: 1rem;

    &:not(:last-child) {
      border-bottom: 1px solid nb-theme(separator);
    }
  }

  .i-contact {
    font-size: 2rem;
    cursor: pointer;
  }

  .time {
    font-size: 0.875rem;
    font-weight: nb-theme(font-weight-light);
    text-transform: uppercase;
  }

  nb-user /deep/ {
    .info-container {
      margin-left: 0.875rem;
    }

    .user-name {
      font-family: nb-theme(font-secondary);
      font-weight: nb-theme(font-weight-bold);
      color: nb-theme(color-fg-heading);
      font-size: 1.25rem;

      @include nb-for-theme(cosmic) {
        font-weight: nb-theme(font-weight-bolder);
      }
    }

    .user-title {
      font-size: 0.875rem;
      font-weight: nb-theme(font-weight-light);
      text-transform: uppercase;
    }
  }
}

/deep/ nb-card.popover-card {
  margin-bottom: 0;
  width: 300px;
  box-shadow: none;
}

:host /deep/ .btn-outline-secondary {
  margin: 0 0.5rem 0.5rem 0;
}

.col {
  font-family: 'Exo';
}