<div class="container">
    <div class="row">
        <div class="col col-12 col-md-4">
            <mat-card class="p-0 mat-card">
                <div class="bg-primary" fxlayout="row" fxlayoutalign="space-between center" style="flex-direction: row; box-sizing: border-box; display: flex; max-height: 100%; place-content: center space-between; align-items: center;">
                    <!---->
                    <!---->
                    <button aria-haspopup="true" mat-icon-button="" class="mat-icon-button float-left">
                        <span class="mat-button-wrapper">
                            <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">more_vert</mat-icon>
                        </span>
                        <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
                        <div class="mat-button-focus-overlay"></div>
                    </button>
                    <h3 class="user-name ng-star-inserted text-white float-right">محمد ابراهيم</h3>
                </div>
                <mat-menu xposition="before" class="ng-tns-c19-45 ng-star-inserted">
                    <!---->
                </mat-menu>
                <div class="user-content" fxlayout="row" fxlayoutalign="space-around center" style="flex-direction: row; box-sizing: border-box; display: flex; max-height: 100%; place-content: center space-around; align-items: center;">
                    <div fxflex="30" fxlayout="column" fxlayoutalign="center center" style="flex: 1 1 100%; box-sizing: border-box; flex-direction: column; display: flex; max-width: 30%; place-content: center; align-items: center;">
                        <div class="user-img">
                            <!---->
                            <img class="transition-2 ng-star-inserted" src="assets/img/profile/ashley.jpg">
                            <!---->
                            <!---->
                        </div>
                        <div class="user-social">
                            <mat-slide-toggle class="mat-slide-toggle mat-primary" color="primary" id="mat-slide-toggle-6">
                                <label class="mat-slide-toggle-label">
                                    <div class="mat-slide-toggle-bar mat-slide-toggle-bar-no-side-margin">
                                        <input class="mat-slide-toggle-input cdk-visually-hidden" type="checkbox" id="mat-slide-toggle-6-input"
                                            tabindex="0" wtx-context="C562F264-6B1A-492F-A750-5978DBDBC657">
                                        <div class="mat-slide-toggle-thumb-container" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                                            <div class="mat-slide-toggle-thumb"></div>
                                            <div class="mat-slide-toggle-ripple mat-ripple" mat-ripple=""></div>
                                        </div>
                                    </div>
                                    <span class="mat-slide-toggle-content"></span>
                                </label>
                            </mat-slide-toggle>
                        </div>
                    </div>
                    <div class="user-details transition-2" fxflex="70" fxlayout="column" style="flex: 1 1 100%; box-sizing: border-box; flex-direction: column; display: flex; max-width: 70%;">
                        <p fxlayout="row" fxlayoutalign="start center" style="flex-direction: row; box-sizing: border-box; display: flex; max-height: 100%; place-content: center flex-start; align-items: center;">
                            <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">card_membership</mat-icon>
                            <span>Product designer</span>
                        </p>
                        <p fxlayout="row" fxlayoutalign="start center" style="flex-direction: row; box-sizing: border-box; display: flex; max-height: 100%; place-content: center flex-start; align-items: center;">
                            <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">mail_outline</mat-icon>
                            <span>ashley@gmail.com</span>
                        </p>
                        <p fxlayout="row" fxlayoutalign="start center" style="flex-direction: row; box-sizing: border-box; display: flex; max-height: 100%; place-content: center flex-start; align-items: center;">
                            <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">call</mat-icon>
                            <span>(202) 756-9756</span>
                        </p>
                        <p fxlayout="row" fxlayoutalign="start center" style="flex-direction: row; box-sizing: border-box; display: flex; max-height: 100%; place-content: center flex-start; align-items: center;">
                            <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">location_on</mat-icon>
                            <span>Washington</span>
                        </p>
                        <p fxlayout="row" fxlayoutalign="start center" style="flex-direction: row; box-sizing: border-box; display: flex; max-height: 100%; place-content: center flex-start; align-items: center;">
                            <mat-icon class="muted-text mat-icon material-icons" role="img" aria-hidden="true">date_range</mat-icon>
                            <span>Joined 21 April, 2017 at 20:25</span>
                        </p>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="col col-12 col-md-8">
                <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Shiba Inu</mat-card-title>
                          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                          <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                            bred for hunting.
                          </p>
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-button>LIKE</button>
                          <button mat-button>SHARE</button>
                        </mat-card-actions>
                      </mat-card>
        </div>
    </div>
</div>