<div fxLayout="row" fxLayoutAlign="space-between center" class="flex-p">
  <div fxLayout="row">
    <mat-button-toggle-group #controls="matButtonToggleGroup">
      <mat-button-toggle *ngxPermissionsOnly="['user_permission_add']" (click)="onAddPermission()" matTooltip="{{'users.roles.permissions.add-permission' | translate}}">
        <mat-icon>person_add</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>

<div *ngFor="let permission of permissions | paginate: { itemsPerPage: 10, currentPage: page }" fxFlex="100" class="flex-p">
  <mat-card class="p-0">
    <div class="user-content" fxLayout="row" fxLayoutAlign="space-around center">
      <div fxFlex="100" fxFlex.xs="100" fxLayout="row" fxLayout.xs="column" class="transition-2">
        <div fxFlex="100" fxFlex.xs="100" fxLayout="column">
          <p fxLayout="row" fxLayoutAlign="start center" class="p-1">
            <mat-icon class="muted-text">business</mat-icon>
            <span>{{permission.translation}}</span>
          </p>
        </div>
      </div>
    </div>
  </mat-card>
</div>

<div *ngIf="permissions" fxLayout="row wrap">
  <div fxFlex="100" class="flex-p">
    <mat-card class="p-0 text-center">
      <pagination-controls class="gradus-pagination" autoHide="true" maxSize="3" (pageChange)="onPageChanged($event)"></pagination-controls>
    </mat-card>
  </div>
</div>

<div *ngIf="!permissions" fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
  <mat-spinner color="primary"></mat-spinner>
</div>