/* You can add global styles to this file, and also import other style files */
@import './assets/scss/var';
@import './assets/scss/base';
@import './assets/css/font-awesome.css';
// this is your created themes.scss file, make sure the path to the file is correct
@import 'themes';

// framework component styles which will use your new theme
@import '~@nebular/theme/styles/globals';
//Fonts
@import url('https://fonts.googleapis.com/css?family=Exo');
@import url('https://fonts.googleapis.com/css?family=Rammetto+One|Roboto');
@font-face {
    font-family: uthmani;
    src: url('/assets/fonts/uthmani.otf');
}
// install the framework
@include nb-install() {
    @include nb-theme-global();
};
html {
    /* make sure we use up the whole viewport */
    width: 100%;
    min-height: 100vh;
}

body {
    width: 100%;
    background-color: $s-bg-gray;
    //min-height: 100vh; /* this helps with the sticky footer */
}

.menu-item {
    flex-direction: row;
}
.menu-title{
    text-align: right;
    float: left;
}
.menu-icon {
    float: right;
}
