// import Nebular Theme System and the default theme
@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';
@import url('https://fonts.googleapis.com/css?family=Exo');
@font-face {
    font-family: uthmani;
    src: url('/assets/fonts/uthmani.otf');
}
// and change the variables you need, or simply leave the map empty to use the default values
// let's make it blue-ish instead of the default white color
$nb-themes: nb-register-theme((
    font-main: unquote('"Arial","Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif'),
        header-bg: #3f51b5,
        color-fg-heading: #1e88e5,
        color-fg-highlight: #1e88e5,
        separator: rgb(235, 235, 235),
        color-fg-text: #000,
        color-bg: #fcfcfd,
        header-bg-custom: #1e88e5 url(assets/images/headerbg.png) repeat-x center center,
        btn-font-size-md: 1.2rem,
        link-color: #1e88e5,
        link-color-hover: #1e88e5,
        color-success: #1e88e5,
        footer-height: 3rem,
), default, default); // let's leave it as default

@mixin linear-gradient($direction, $color-stops...) {
    background: nth(nth($color-stops, 1), 1);
    background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
    background: linear-gradient($direction, $color-stops);
}