<nb-layout>
    <nb-layout-header fixed>
        <a-app-header></a-app-header>
    </nb-layout-header>

    <nb-layout-column>
        <div class="row">
            <div class="col-md-12" *ngIf="!registered">
                <nb-card>
                    <nb-card-header [translate]="'user.table.head.socialUserRegister'"></nb-card-header>
                    <nb-card-body scrollable>
                        <div *ngIf="user !== null">
                            <form (submit)="submitForm()">
                                <div class="form-group">
                                    <label class="form-control-label" for="phone"
                                           [translate]="'user.table.fields.phone'"></label>
                                    <input class="form-control" type="tel" id="phone" name="phone"
                                           [(ngModel)]="user.phone"/>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" for="address1"
                                           [translate]="'user.table.fields.address1'"></label>
                                    <input class="form-control" type="text" id="address1" name="address1"
                                           [(ngModel)]="user.address1"/>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" for="address2"
                                           [translate]="'user.table.fields.address2'"></label>
                                    <input class="form-control" type="text" id="address2" name="address2"
                                           [(ngModel)]="user.address2"/>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" for="country"
                                           [translate]="'user.table.fields.country'"></label>
                                    <input class="form-control" type="text" id="country" name="country"
                                           [(ngModel)]="user.country"/>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" for="postal"
                                           [translate]="'user.table.fields.postal'"></label>
                                    <input class="form-control" type="text" id="postal" name="postal"
                                           [(ngModel)]="user.postal"/>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button class="form-control btn btn-info" type="submit"
                                                    [translate]="'general.save'"></button>
                                        </div>
                                        <div class="col-md-6">
                                            <button class="form-control" type="reset" 
                                                    [translate]="'general.reset'"></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col-md-12" *ngIf="registered">
                <nb-card>
                    <nb-card-header>Thank you for joining us !</nb-card-header>
                    <nb-card-body>
                        <p>You have registered with us successfully!</p>
                        <p>you may now <a [routerLink]="'/login'">Login</a> and enjoy!</p>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
    </nb-layout-column>
    <ng-snotify></ng-snotify>
</nb-layout>