<mat-card>
  <mat-card-header fxLayoutAlign="center">
    <mat-card-subtitle>
      <h2>{{'dashboard.labels.notifications' | translate}}</h2>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div perfectScrollbar class="notifications">
      <mat-nav-list>
        <mat-list-item *ngFor="let notification of notifications">
          <div fxLayoutAlign="space-between center">
            <span class="name">
              <small>{{notification.text | slice:0:50}}</small>
            </span>
          </div>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </mat-card-content>
</mat-card>