<mat-card>
  <mat-card-header fxLayoutAlign="center">
    <mat-card-subtitle>
      <h2  color="primary">{{'dashboard.labels.latest-tasks' | translate}}</h2>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div perfectScrollbar class="tasks">
      <mat-nav-list>
        <div *ngFor="let task of tasks" class="p-1">
          <div fxLayout="row">
            {{task.title}}
          </div>
          <mat-progress-bar matTooltip="{{'dashboard.labels.progress'| translate}} {{task.progress}}%" mode="buffer" [value]="task.progress"
            [bufferValue]="100-task.progress" color="primary"></mat-progress-bar>
        </div>
      </mat-nav-list>
    </div>
  </mat-card-content>
</mat-card>