<nb-layout>
    <nb-layout-header fixed>
        <a-app-header></a-app-header>
    </nb-layout-header>

    <nb-sidebar responsive="true" tag="menu-sidebar" right>
        <nb-sidebar-header>
            
        </nb-sidebar-header>
        <nb-menu [items]="menuItems"></nb-menu>

    </nb-sidebar>

    <nb-layout-column [@animRoutes]="getPage(appOutlet)">
        <router-outlet #appOutlet="outlet"></router-outlet>
        <ng-snotify></ng-snotify>
        <ngx-loading-bar></ngx-loading-bar>
    </nb-layout-column>
    <nb-layout-footer>
        <div class="container">
            <div class="row">
                <div class="col col-12 text-right">
                    All rights reserved &copy;2018 <a href="http://jalyat.com/" target="_blank">Jalyat unaizah</a>
                </div>
            </div>
        </div>
    </nb-layout-footer>
</nb-layout>