<h1 mat-dialog-title>
    <span *ngIf="!user.id">{{'users.form.button.add' | translate}}</span>
    <span *ngIf="user.id">{{'users.form.button.edit' | translate}}</span>
</h1>
<div mat-dialog-content *ngxPermissionsOnly="['user_update']">
    <form [formGroup]="form" class="user-form" enctype="multipart/form-data">
        <mat-tab-group class="vertical-tabs">
            <mat-tab label="{{'users.labels.basic' | translate}}">
                <div fxLayout="column" class="form-field-outer">
                    <mat-form-field class="w-100">
                        <mat-placeholder>
                            <mat-icon>person</mat-icon> {{'users.form.username' | translate}}</mat-placeholder>
                        <input matInput formControlName="username" required>
                        <mat-error *ngIf="form.controls.username.errors?.required">{{'users.form.errors.username.required' | translate}}</mat-error>
                        <mat-error *ngIf="form.controls.username.hasError('minlength')">{{'users.form.errors.username.min' | translate}}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <mat-placeholder>
                            <mat-icon>vpn_key</mat-icon> {{'users.form.password' | translate}}</mat-placeholder>
                        <input matInput formControlName="password" [required]="!user.id" [type]="passwordHide ? 'password' : 'text'">
                        <mat-icon matSuffix (click)="passwordHide = !passwordHide">{{passwordHide ? 'visibility' : 'visibility_off'}}</mat-icon>
                        <mat-error *ngIf="form.controls.password.errors?.required">{{'users.form.errors.password.required' | translate}}</mat-error>
                        <mat-error *ngIf="form.controls.password.hasError('minlength')">{{'users.form.errors.password.length' | translate}}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <mat-placeholder>
                            <mat-icon></mat-icon>{{'users.form.role' | translate}}</mat-placeholder>
                        <mat-select formControlName="role_name">
                            <mat-option *ngFor="let role of roles | RolesExceptRootPipe" [value]="role.name">{{role.translation}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </mat-tab>
            <mat-tab label="{{'users.labels.personal' | translate}}">
                <div fxLayout="column" class="form-field-outer">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="{{'users.form.first_name' | translate}}" required formControlName="first_name">
                        <mat-error *ngIf="form.controls.first_name.errors?.required">{{'users.form.errors.first_name.required' | translate}}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <input matInput placeholder="{{'users.form.last_name' | translate}}" required formControlName="last_name">
                        <mat-error *ngIf="form.controls.last_name.errors?.required">{{'users.form.errors.last_name.required' | translate}}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <input matInput [matDatepicker]="birthday" placeholder="{{'users.form.birthdate' | translate}}" formControlName="birthday">
                        <mat-datepicker-toggle matSuffix [for]="birthday"></mat-datepicker-toggle>
                        <mat-datepicker #birthday></mat-datepicker>
                    </mat-form-field>
                    <mat-radio-group formControlName="gender">
                        <mat-radio-button value="{{'users.form.gender.male' | translate}}" labelPosition="before">{{'users.form.gender.male' | translate}}</mat-radio-button>
                        <mat-radio-button value="{{'users.form.gender.female' | translate}}" labelPosition="before">{{'users.form.gender.female' | translate}}</mat-radio-button>
                    </mat-radio-group>
                    <div class="w-100 text-right">
                        <input #fileInput type="file" (change)="addFile()" style="display: none;" />
                        <button class="bg-accent" mat-button (click)="fileInput.click()">{{'users.form.picture' | translate}}</button>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="{{'users.labels.work' | translate}}">
                <div fxLayout="column" class="form-field-outer">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="{{'users.form.company' | translate}}" formControlName="company">
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <input matInput placeholder="{{'users.form.position' | translate}}" formControlName="position">
                    </mat-form-field>
                </div>
            </mat-tab>
            <mat-tab label="{{'users.labels.contacts' | translate}}">
                <div fxLayout="column" class="form-field-outer">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="{{'users.form.email' | translate}}" formControlName="email">
                        <mat-error *ngIf="form.controls.email.errors?.required">{{'users.form.errors.email.required' | translate}}</mat-error>
                        <mat-error *ngIf="form.controls.email.errors?.email">{{'users.form.errors.email.valid' | translate}}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <input matInput placeholder="{{'users.form.phone' | translate}}" formControlName="phone_no">
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <input matInput placeholder="{{'users.form.address' | translate}}" formControlName="address">
                    </mat-form-field>
                </div>
            </mat-tab>
            <mat-tab label="{{'users.labels.social' | translate}}">
                <div fxLayout="column" class="form-field-outer">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="{{'users.form.facebook' | translate}}" formControlName="facebook">
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <input matInput placeholder="{{'users.form.twitter' | translate}}" formControlName="twitter">
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <input matInput placeholder="{{'users.form.google' | translate}}" formControlName="google">
                    </mat-form-field>
                </div>
            </mat-tab>
            <mat-tab label="{{'users.form.labels.settings' | translate}}">
                <div fxLayout="column" class="form-field-outer">
                    <mat-checkbox formControlName="is_active">{{'users.form.isActive' | translate}}</mat-checkbox>
                    <mat-checkbox formControlName="is_blocked">{{'users.form.isBlocked' | translate}}</mat-checkbox>
                </div>
            </mat-tab>
        </mat-tab-group>
    </form>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center" *ngxPermissionsOnly="['user_update']">
    <button mat-raised-button color="primary" (click)="saveUser()" [disabled]="!form.valid">
        <span *ngIf="!user.id">{{'buttons.save' | translate}}</span>
        <span *ngIf="user.id">{{'buttons.update' | translate}}</span>
    </button>
    <button mat-raised-button color="warn" (click)="close()">{{'buttons.cancel' | translate}}</button>
</div>