<!--div class="container-fluid header-main-container">
  <div class="row">
    <div class="col col-9">
      <div class="header-container">
        <div class="logo-containter" right>
          <a *ngIf="userid > 0" (click)="toggleSidebar()" href="#" class="navigation">
            <i class="nb-menu"></i>
          </a>
          <div class="logo" (click)="goToHome()">
            <b class="text-white">إدارة</b>
            <span class="text-white">المهام</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-3 text-left">
        <div class="col col-12 text-left">
            <nb-action *ngIf="userid > 0" class="float-left">
              <nb-user class="user" [nbContextMenu]="userList" [name]="fullName" [picture]="userImage"></nb-user>
            </nb-action>
          </div>
    </div>
  </div>
</div-->
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item *ngFor="let item of userList" [routerLink]="item.link">
              <mat-icon>{{item.matIcon}}</mat-icon>
              <span>{{item.title}}</span>
            </button>
            
          </mat-menu>
        <span class="example-spacer"></span>
        <span>إدارة المهام</span>
        <button *ngIf="userid > 0" (click)="toggleSidebar()" href="#" class="navigation" mat-icon-button>
            <i class="nb-menu fa-3x"></i>
        </button>
    </mat-toolbar-row>
  </mat-toolbar>