<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-body scrollable>
                <div  *ngIf="user !== null">
                <form (submit)="submitForm()">
                    <div class="form-input">
                        <label class="control-label" for="userName"
                               [translate]="'user.table.fields.username'"></label>
                        <input class="form-control" type="text" id="userName" name="userName"
                               [ngModel]="user.userName"/>
                    </div>
                    <div class="form-input">
                        <label class="control-label" for="firstName"
                               [translate]="'user.table.fields.firstName'"></label>
                        <input class="form-control" type="text" id="firstName" name="firstName"
                               [(ngModel)]="user.firstName"/>
                    </div>
                    <div class="form-input">
                        <label class="control-label" for="lastName"
                               [translate]="'user.table.fields.lastName'"></label>
                        <input class="form-control" type="text" id="lastName" name="lastName"
                               [(ngModel)]="user.lastName"/>
                    </div>
                    <div class="form-input">
                        <label class="control-label" for="email" [translate]="'user.table.fields.email'"></label>
                        <input class="form-control" type="email" id="email" name="email" [(ngModel)]="user.email"/>
                    </div>
                    <div class="form-input">
                        <label class="control-label" for="phone" [translate]="'user.table.fields.phone'"></label>
                        <input class="form-control" type="tel" id="phone" name="phone" [(ngModel)]="user.phone"/>
                    </div>
                    <div class="form-input">
                        <label class="control-label" for="address1"
                               [translate]="'user.table.fields.address1'"></label>
                        <input class="form-control" type="text" id="address1" name="address1"
                               [(ngModel)]="user.address1"/>
                    </div>
                    <div class="form-input">
                        <label class="control-label" for="address2"
                               [translate]="'user.table.fields.address2'"></label>
                        <input class="form-control" type="text" id="address2" name="address2"
                               [(ngModel)]="user.address2"/>
                    </div>
                    <div class="form-input">
                        <label class="control-label" for="country"
                               [translate]="'user.table.fields.country'"></label>
                        <input class="form-control" type="text" id="country" name="country" [(ngModel)]="user.country"/>
                    </div>
                    <div class="form-input">
                        <label class="control-label" for="postal" [translate]="'user.table.fields.postal'"></label>
                        <input class="form-control" type="text" id="postal" name="postal" [(ngModel)]="user.postal"/>
                    </div>
                    <div class="form-input">
                        <label class="control-label" for="isActive"
                               [translate]="'user.table.fields.isActive'"></label>
                        <input class="form-control" type="checkbox" id="isActive" name="isActive"
                               [(ngModel)]="user.isActive"/>
                    </div>
                    <div class="form-input">
                        <label class="control-label" for="isBlocked"
                               [translate]="'user.table.fields.isBlocked'"></label>
                        <input class="form-control" type="checkbox" id="isBlocked" name="isBlocked"
                               [(ngModel)]="user.isBlocked"/>
                    </div>
                    <div class="form-control">
                        <label class="control-label" for="roles" [translate]="'user.table.fields.roles'"></label>
                        <ng-select class="form-control" [items]="roles"
                                   bindLabel="description"
                                   multiple="true"
                                   placeholder="select a role"
                                   id="roles"
                                   name="roles"
                                   [(ngModel)]="user.role">
                        </ng-select>
                    </div>
                    <div class="form-input">
                        <button class="btn btn-hero-success" type="submit" [translate]="'general.save'"></button>
                        <button class="btn btn-hero-danger" type="reset" [translate]="'general.reset'"></button>
                    </div>
                </form>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>