<div fxLayout="row" fxLayoutAlign="space-between center" class="flex-p">
    <div fxLayout="row">
        <button (click)="onAddNewTaskClick()" mat-raised-button color="primary" class="m-1">
            <mat-icon class="mat-18">alarm_add</mat-icon> {{'tasks.buttons.add-new' |translate}}
        </button>
    </div>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center" class="flex-p">
    <div fxLayout="row">

        <mat-button-toggle-group #viewType="matButtonToggleGroup">
            <mat-button-toggle (click)="getAllTasks()" matTooltip="{{'tasks.buttons.all' | translate}}">
                <mat-icon color="basic">view_list</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle (click)="onFilterTasks(0)" matTooltip="{{'tasks.buttons.filter-completed' | translate}}">
                <mat-icon color="warn">assignment_late</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle (click)="onFilterTasks(1)" matTooltip="{{'tasks.buttons.filter-uncompleted' | translate}}">
                <mat-icon color="primary">verified_user</mat-icon>
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
</div>
<div fxFlex="100">
    <mat-accordion displayMode="default" [multi]="false" [hideToggle]="true">
        <mat-expansion-panel *ngFor="let task of tasks | paginate: { itemsPerPage: 11, currentPage: page }">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon *ngIf="task.progress === 100" class="mat-18 p-1" color="primary">verified_user</mat-icon>
                    <mat-icon *ngIf="task.progress < 100" class="mat-18 p-1" color="warn">assignment_late</mat-icon>
                    <mat-icon class="p-1" *ngIf="task.attachment" matTooltip="{{'tasks.buttons.has-attachment' | translate}}">attachment</mat-icon>
                    <h4 class="p-1">{{task.title}}</h4>
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
                <i class="p-1">
                    <small>{{task.start_date}} : {{task.end_date}}</small>
                </i>
                <mat-chip-list class="p-1">
                    <mat-chip color="primary">
                        <i>
                            <small>{{task.notifications}}</small>
                        </i>
                    </mat-chip>
                </mat-chip-list>
                
            </mat-expansion-panel-header>
            <p fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="mat-18">description</mat-icon>
                <span>
                    <i>{{task.description}}</i>
                </span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="mat-18">face</mat-icon>
                <span>
                    <i>{{task.first_name + ' ' + task.last_name}}</i>
                </span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="mat-18">low_priority</mat-icon>
                <span>
                    <i>{{'tasks.form.priority.levels.' + task.priority | translate}}</i>
                </span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="mat-18">hourglass_empty</mat-icon>
                <span>
                    <mat-slider (change)="onProgressChange(task)" class="custom-slider w-50" [max]="100" [min]="0" [step]="1" [thumb-label]="true"
                        [tick-interval]="tickInterval" [(ngModel)]="task.progress" [vertical]="false">
                    </mat-slider>
                    <i>
                        <small>{{task.progress}}%</small>
                    </i>
                </span>
            </p>
            <div *ngxPermissionsOnly="['root','admin']">
                <button *ngIf="task.progress !== 100" (click)="onDeleteTaskClick(task.id)" mat-raised-button color="warn" class="m-1">
                    <mat-icon class="mat-18">close</mat-icon> {{'buttons.delete' |translate}}
                </button>
                <button *ngIf="task.progress !== 100" (click)="onEditTaskClick(task)" mat-raised-button color="primary" class="m-1">
                    <mat-icon class="mat-18">update</mat-icon> {{'buttons.edit' |translate}}
                </button>
                <button *ngIf="task.progress !== 100" (click)="onSendNotificationClick(task)" mat-raised-button color="primary" class="m-1">
                    <mat-icon class="mat-18">exposure_plus_1</mat-icon> {{'tasks.buttons.add-notification' |translate}}
                </button>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<div *ngIf="tasks" fxLayout="row wrap">
    <div fxFlex="100" class="flex-p">
        <mat-card class="p-0 text-center">
            <pagination-controls class="gradus-pagination" autoHide="true" maxSize="7" (pageChange)="onPageChanged($event)"></pagination-controls>
        </mat-card>
    </div>
</div>

<div *ngIf="!tasks" fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
    <mat-spinner color="primary"></mat-spinner>
</div>