<div fxLayout="row wrap" fxLayout.xs="column" [dragula]="'bag-container'">
    <div fxFlex="33.3" class="flex-p" (click)="onAddNewTaskClick()">
        <mat-card class="bg-primary">
            <mat-card-header fxLayoutAlign="center">
                <mat-card-subtitle fxLayoutAlign="center">
                    <mat-icon class="icon-lg">alarm_add</mat-icon>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="text-center">
                {{'tasks.buttons.add-new' |translate}}
            </mat-card-content>
        </mat-card>
    </div>
    <div *ngFor="let task of tasks | paginate: { itemsPerPage: 11, currentPage: page }" fxFlex="33.3" class="flex-p">
        <mat-card class="draggable">
            <mat-card-header fxLayoutAlign="center">
                <mat-card-subtitle fxLayoutAlign="center">
                    {{task.title}}
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="text-right">
                    <p fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>person_outline</mat-icon>
                    <span>{{task.first_name}} {{task.last_name}}</span>
                        </p>
                <p fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="muted-text">location_on</mat-icon>
                    <span>{{task.description}}</span>
                </p>
                <p fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="muted-text">date_range</mat-icon>
                    <span>{{task.start_date}}</span>
                    <mat-icon class="muted-text">date_range</mat-icon>
                    <span>{{task.end_date}}</span>
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div *ngIf="tasks" fxLayout="row wrap">
    <div fxFlex="100" class="flex-p">
        <mat-card class="p-0 text-center">
            <pagination-controls class="gradus-pagination" autoHide="true" maxSize="7" (pageChange)="onPageChanged($event)"></pagination-controls>
        </mat-card>
    </div>
</div>