<button mat-icon-button [matMenuTriggerFor]="userMenu" #userMenuTrigger="matMenuTrigger" >
    <mat-icon>account_circle</mat-icon>
</button>

<mat-menu #userMenu="matMenu" [overlapTrigger]="false" class="toolbar-dropdown-menu user-menu">
    <!--<span (mouseleave)="userMenuTrigger.closeMenu()">-->
        <mat-toolbar color="primary">
            <div fxLayout="row" fxLayoutAlign="space-around center" class="user-info">
                <img *ngIf="userImage" [src]="userPicPath + userImage" alt="user-image" height="80" width="80">
                <img *ngIf="!userImage" src="assets/img/users/default-user.jpg">  
                        <p>{{userInfo.displayName}} <br> <small>{{userInfo.position}}</small></p>
            </div>  
        </mat-toolbar>
        <!--<a mat-menu-item routerLink="profile"> -->
            <!--<mat-icon>person</mat-icon>-->
            <!--<span>Profile</span> -->
        <!--</a>-->
        <!--<div class="divider"></div>-->
        <a mat-menu-item routerLink="/login"> 
            <mat-icon>power_settings_new</mat-icon>
            <span>{{'user.buttons.logout' | translate}}</span>
        </a>
    <!--</span>-->
</mat-menu>