<div fxFlex="100" fxFlex.gt-sm="100" fxLayout="row">
    <div fxFlex="100" class="flex-p">
        <mat-card color="primary">
            <div fxLayout="row" fxLayoutAlign="space-between center" class="muted-text">
                <mat-icon class="icon-lg" color="primary">donut_large</mat-icon>
                <div>
                    <h1 color="primary">{{completedCount}}</h1>
                    <h2 class="fw-800">{{'dashboard.labels.completed-tasks' | translate}}</h2>
                </div>                
            </div>            
        </mat-card>
    </div>
    <div fxFlex="100" class="flex-p">
        <mat-card>
            <div fxLayout="row" fxLayoutAlign="space-between center" class="muted-text">
                <mat-icon class="icon-lg" color="primary">done_all</mat-icon>
                <div>
                    <h1 color="primary">{{uncompletedCount}}</h1>
                    <h2 class="fw-800">{{'dashboard.labels.uncompleted-tasks' | translate}}</h2>
                </div>                
            </div>            
        </mat-card>
    </div>       
</div>