.h-50 {
  height: 50px;
}

.permissions-box {
  padding: 5px;
  margin: 5px;
  border: 1px solid #ccc;
  font-family: Arial;
  font-size: 15px;
}

.username {
  padding: 5px;
  font-family: Arial;
  font-size: 14px;
  margin-left: 3px;
}

.permissions{
  padding: 2px;
}