<div *ngIf="user !== null">
    <form (submit)="submitForm()" #frm="ngForm">
        <nb-card>
            <nb-card-header [translate]="'user.profile.edit.head'"></nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-input">
                            <label class="control-label" for="fullName" [translate]="'user.table.fields.fullName'"></label>
                            <input class="form-control" type="text" id="fullName" name="fullName" [(ngModel)]="user.fullName" #name="ngModel" required />
                            <div class="text-danger" *ngIf="name.errors?.required" [translate]="'user.errors.required'"></div>
                        </div>
                        <div class="form-input">
                            <label class="control-label" for="email" [translate]="'user.table.fields.email'"></label>
                            <input class="form-control" type="email" id="email" name="email" [(ngModel)]="user.email" #email="ngModel" email />
                            <div class="text-danger" *ngIf="email.errors?.email" [translate]="'user.errors.email'"></div>
                        </div>
                        <div class="form-input">
                            <label class="control-label" for="phone" [translate]="'user.table.fields.phone'"></label>
                            <input class="form-control" type="tel" id="phone" name="phone" [(ngModel)]="user.phone" />
                        </div>
                        <div class="form-input">
                            <label class="control-label" for="address1" [translate]="'user.table.fields.address1'"></label>
                            <input class="form-control" type="text" id="address1" name="address1" [(ngModel)]="user.address1" />
                        </div>
                        <div class="form-input">
                            <label class="control-label" for="address2" [translate]="'user.table.fields.address2'"></label>
                            <input class="form-control" type="text" id="address2" name="address2" [(ngModel)]="user.address2" />
                        </div>
                        <div class="form-input">
                            <label class="control-label" for="country" [translate]="'user.table.fields.country'"></label>
                            <input class="form-control" type="text" id="country" name="country" [(ngModel)]="user.country" />
                        </div>
                        <div class="form-input">
                            <label class="control-label" for="postal" [translate]="'user.table.fields.postal'"></label>
                            <input class="form-control" type="text" id="postal" name="postal" [(ngModel)]="user.postal" />
                        </div>
                    </div>
                </div>
            </nb-card-body>
            <nb-card-footer>
                <div class="form-inline">
                    <button class="form-control btn btn-hero-success m-1 text-white" type="submit" [translate]="'general.save'" [disabled]="frm.invalid"></button>
                    <button class="form-control btn btn-hero-danger m-1 text-white" type="reset" [translate]="'general.reset'"></button>
                </div>
            </nb-card-footer>
        </nb-card>
    </form>
</div>