<div fxLayout="row wrap">
    <div fxFlex="100" class="flex-p">
        <mat-card class="p-0 mailbox">
            <mat-sidenav-container>
                <mat-sidenav #sidenav [opened]="sidenavOpen" [mode]="sidenavOpen ? 'side' : 'over'" class="mailbox-sidenav mat-elevation-z1">
                    <mat-toolbar color="primary" class="p-0" fxLayout="row" fxLayoutAlign="space-between center">
                        <input [(ngModel)]="searchText" type="text" placeholder="{{'mail.labels.search-mail' | translate}}" class="search mat-elevation-z3">
                        <button mat-icon-button [matMenuTriggerFor]="filterMenu" #filterMenuTrigger="matMenuTrigger">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </mat-toolbar>
                    <mat-menu #filterMenu="matMenu" xPosition="before">
                        <span (mouseleave)="filterMenuTrigger.closeMenu()">
                            <button mat-menu-item (click)="type = 'all';getMails();">{{'mail.labels.all' | translate}}</button>
                            <button mat-menu-item (click)="type = 'starred';getMails();">{{'mail.labels.starred' | translate}}</button>
                            <button mat-menu-item (click)="type = 'sent';getMails();">{{'mail.labels.sent' | translate}}</button>
                            <button mat-menu-item (click)="type = 'trash';getMails();">{{'mail.labels.trash' | translate}}</button>
                        </span>
                    </mat-menu>
                    <mat-nav-list class="p-0 mailbox-sidenav-list" perfectScrollbar>
                        <div *ngFor="let mail of mails | MailSearch : searchText" (click)="viewDetail(mail)">
                            <mat-list-item [ngClass]="{'unread': !mail.readed}" *ngIf="mail.sender">
                                <img *ngIf="mail.sender.picture" matListAvatar [src]="userPic + mail.sender.picture">
                                <img *ngIf="!mail.sender.picture" matListAvatar src="assets/img/users/default-user.jpg">
                                <div matLine fxLayout="row" fxLayoutAlign="space-between space-between">
                                    <h4 class="text-truncate sender">
                                        <small>
                                            <mat-icon *ngIf="mail.starred" color="accent">star</mat-icon>
                                        </small>
                                        {{mail.sender.first_name + ' ' + mail.sender.last_name}}
                                    </h4>
                                    <small>{{mail.created_at}}</small>
                                </div>
                                <p matLine class="text-truncate subject">{{mail.subject}}</p>
                            </mat-list-item>
                            <mat-list-item [ngClass]="{'unread': !mail.readed}" *ngIf="mail.receiver">
                                <img *ngIf="mail.receiver[0].picture" matListAvatar [src]="userPic + mail.receiver[0].picture">
                                <img *ngIf="!mail.receiver[0].picture" matListAvatar src="assets/img/users/default-user.jpg">
                                <div matLine fxLayout="row" fxLayoutAlign="space-between space-between">
                                    <h4 class="text-truncate sender">
                                        {{mail.receiver[0].first_name + ' ' + mail.receiver[0].last_name}}
                                    </h4>
                                    <small>{{mail.created_at}}</small>
                                </div>
                                <p matLine class="text-truncate subject">{{mail.subject}}</p>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                        </div>
                    </mat-nav-list>
                </mat-sidenav>
                <div>
                    <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <button mat-icon-button (click)="sidenav.toggle()">
                                <mat-icon>list</mat-icon>
                            </button>
                            <button *ngIf="newMail" mat-icon-button (click)="newMail = false;" matTooltip="{{'mail.labels.back' | translate}}" matTooltipPosition="above">
                                <mat-icon>arrow_back</mat-icon>
                            </button>
                            <button *ngIf="mail && type !='trash'" mat-icon-button (click)="changeStarStatus()" matTooltip="{{'mail.labels.mark-important' | translate}}"
                                matTooltipPosition="above" fxShow="false" fxShow.gt-xs>
                                <mat-icon *ngIf="mail.starred">star</mat-icon>
                                <mat-icon *ngIf="!mail.starred">star_border</mat-icon>
                            </button>
                            <button *ngIf="mail && type=='trash'" mat-icon-button (click)="restore()" matTooltip="{{'mail.labels.restore' | translate}}"
                                matTooltipPosition="above">
                                <mat-icon>undo</mat-icon>
                            </button>
                            <button *ngIf="mail && type !='trash'" mat-icon-button (click)="moveToTrash()" matTooltip="{{'mail.labels.to-trash' | translate}}"
                                matTooltipPosition="above">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <button mat-icon-button [matMenuTriggerFor]="moreMenu" #moreMenuTrigger="matMenuTrigger" [style.display]="(mail) ? 'block' : 'none'">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                        </div>
                        <button *ngxPermissionsOnly="['mail_compose']" mat-raised-button color="warn" (click)="compose()">{{'mail.labels.compose' | translate}}</button>
                    </mat-toolbar>
                    <mat-menu #moreMenu="matMenu" xPosition="before">
                        <span (mouseleave)="moreMenuTrigger.closeMenu()">
                            <button mat-menu-item (click)="setAsRead()">{{'mail.labels.mark-read' | translate}}</button>
                            <button mat-menu-item (click)="setAsUnRead()">{{'mail.labels.mark-unread' | translate}}</button>
                            <button mat-menu-item (click)="moveToTrash()">{{'general.buttons.delete' | translate}}</button>
                        </span>
                    </mat-menu>
                    <div class="mailbox-content" perfectScrollbar>
                        <div *ngIf="mail">
                            <mat-list class="p-0">
                                <mat-list-item class="h-100 py-1">
                                    <div matLine fxLayout="row" fxLayoutAlign="space-between center">
                                        <h2 class="subject">{{mail.subject}}</h2>
                                        <mat-icon class="muted-text">print</mat-icon>
                                    </div>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                                <mat-list-item class="h-100 py-1" *ngIf="mail.sender">
                                    <img *ngIf="mail.sender.picture" matListAvatar [src]="userPic + mail.sender.picture">
                                    <img *ngIf="!mail.sender.picture" matListAvatar src="assets/img/users/default-user.jpg">
                                    <h6 matLine fxLayout="row" fxLayoutAlign="space-between center">
                                        <span>
                                            <strong class="text-truncate">{{mail.sender.first_name + ' ' + mail.sender.last_name}}</strong>
                                            <span *ngIf="mail.sender.email" class="email">&lt;{{mail.sender.email}}&gt;</span>
                                        </span>
                                        <span>{{mail.created_at}}</span>
                                    </h6>
                                    <span matLine>{{'mail.labels.to-me' | translate}}</span>
                                </mat-list-item>
                                <mat-list-item class="h-100 py-1" *ngIf="mail.receiver">
                                    <img *ngIf="mail.receiver[0].picture" matListAvatar [src]="userPic + mail.receiver[0].picture">
                                    <img *ngIf="!mail.receiver[0].picture" matListAvatar src="assets/img/users/default-user.jpg">
                                    <h6 matLine fxLayout="row" fxLayoutAlign="space-between center">
                                        <span>
                                            <strong class="text-truncate">{{mail.receiver[0].first_name + ' ' + mail.receiver[0].last_name}}</strong>
                                            <span *ngIf="mail.receiver[0].email" class="email">&lt;{{mail.receiver[0].email}}&gt;</span>
                                        </span>
                                        <span>{{mail.created_at}}</span>
                                    </h6>
                                    <span matLine>{{'mail.labels.from-me' | translate}}</span>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                            </mat-list>
                            <div class="mail-body" [innerHTML]="mail.message"></div>
                        </div>
                        <div *ngIf="!mail && !newMail" fxLayout="column" fxLayoutAlign="center center" class="h-100 empty">
                            <mat-icon>mail_outline</mat-icon>
                            <p>{{'mail.labels.choose-mail' | translate}}</p>
                        </div>
                        <div *ngIf="newMail" fxLayout="column" fxLayoutAlign="center center" class="h-100 p-1">
                            <app-compose *ngIf="newMail"></app-compose>
                        </div>

                    </div>
                </div>
            </mat-sidenav-container>
        </mat-card>
    </div>
</div>